html {
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
}
body { 
    font-family: 'Lato', sans-serif;

}

section {
    position: relative;
    top: 10vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    flex-direction: column;
}


